@font-face {
   font-family: NunitoSans;
   font-style: normal;
   font-weight: 400;
   src: url("../fonts/NunitoSans/NunitoSans-Regular.woff");
}

@font-face {
   font-family: NunitoSans;
   font-style: normal;
   font-weight: 700;
   src: url("../fonts/NunitoSans/NunitoSans-Bold.woff");
}
