// Colors
$text-color: #000;

// Sizes
$content-size: 1240px;

// MediaPoints
$tablet-size: 1180px;
$phone-size: 769px;

/* 100 Extra Light or Ultra Light
   200 Light or Thin
   300 Book or Demi
   400 Normal or Regular
   500 Medium
   600 SemiBold demiBold
   700 Bold
   800 Black, Extra Bold, Heavy
   900 Extra Black, Fat, Poster, Ultra */

// Fonts-sizes
$base-font-size: 16px;
// Fonts
$base-font-family: "NunitoSans", "Arial", sans-serif;
